<div class="jumbotron">
  <div class="text-center">
    <h1 class="display-4">{{ stock.companyName }} ({{ stock.symbol }})</h1>

  <strong>Latest Price: </strong>${{ stock.latestPrice }}<br />
  <strong>Previous Close: </strong>${{ stock.previousClose }}<br />
  <strong>Percent Change: </strong>{{ stock.changePercent }}%<br />
  <strong>Market Cap: </strong>{{ stock.marketCap }}<br />
  <strong>YTD Change: </strong>{{ stock.ytdChange }}%<br />
  <strong>52-Week High: </strong>{{ stock.week52High }}<br />
  <strong>52-Week Low: </strong>{{ stock.week52Low }}<br />
  </div>
</div>


<br>
<footer>
  <div class="bg-dark">
    <div class="text-center text-light">Stock data provided by IEX Cloud</div>
    <div class="text-center text-light">Powered by Bootstap</div>
  </div>
</footer>




<!--
<br/><br/>
{{#each stock}}
   {{@key}} | {{this}}<br/>
{{/each}}

-->