<div class=“jumbotron”>
   <h1 class=“display-2">Your Portfolio</h1>
{{#each stocks}}
<div>
  <div class=“display-4”>{{ this.companyName }} ({{ stocks.symbol }})</div>
<strong>Latest Price: </strong>${{ this.latestPrice }}<br/>
<strong>Previous Close: </strong>${{ this.previousClose }}<br/>
<strong>Percent Change: </strong>{{ this.changePercent }}%<br/>
<strong>Market Cap: </strong>{{ this.marketCap }}<br/>
<strong>YTD Change: </strong>{{ this.ytdChange }}%<br/>
<strong>52-Week High: </strong>{{ this.week52High }}<br/>
<strong>52-Week Low: </strong>{{ this.week52Low }}<br/>
</div>
{{/each}}